@charset "UTF-8";

/* cssReset */
body,
div,
p {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: #000;
}

.wrapper {
	display: inline-block;
	/*position: relative;*/
	padding: 5px;
	border: 5px solid #eee;
}

.wrapper > a {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
}

.wrapper > a img {
	width: 200px;
	height: 200px;
}

.wrapper > a span {
	display: none;
}

.wrapper:hover span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	line-height: 200px;
	background: rgba(240,240,240,.8);
}

/*#enlarge:target {
	display: block;
}*/


.large img {
	-webkit-transition: all 4s;
	-webkit-transform: scale(0.6);
	/*-webkit-transform: scale(0.6);*/
	opacity: 0.1;

}
.large:target img {
	/*-webkit-transition: all 2s;*/
	-webkit-transform: scale(1);
	opacity: 1;
	/*-webkit-animation: fadeInScale 1.2s ease-in-out;*/
}

.wrapper .large {
	position: fixed;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	background: #f0f;
}
.large:target {
	width: 100%;
	height: 100%;
}

.large a {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: #f00;
}
/*@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}*/